<%= simple_form_for([@commitment, @addendum_commitment]) do |f| %>
  <div class="row">
    <div class="col-12">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-3">
      <%= f.input :number, label: "Número do Aditivo", placeholder: "Ex: 001/2026" %>
    </div>
    <div class="col-12 col-md-3">
      <%= f.input :total_value, 
          label: "Valor do Aditivo", 
          input_html: { 
            class: 'money', 
            value: CustomHelper.to_currency(f.object.total_value), 
            type: "tel" 
          }, 
          as: :string %>
    </div>
    <div class="col-12 col-md-3">
      <%= f.association :contract,
          label: "Contrato Vinculado",
          collection: Contract.where(commitment_id: @commitment.id).order(:internal_number),
          label_method: lambda { |c| "#{c.internal_number} - #{c.contractor_name}" },
          include_blank: "Sem vínculo",
          input_html: { class: 'select2' } %>
    </div>
    <div class="col-12 col-md-3">
      <%= f.input :active, 
          label: "Status", 
          as: :select, 
          collection: [['Ativo', true], ['Inativo', false]], 
          include_blank: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= f.input :description, 
          label: "Descrição/Justificativa", 
          as: :text, 
          input_html: { rows: 4 },
          placeholder: "Descreva o motivo ou detalhes do aditivo..." %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="alert alert-info">
        <i class="bi bi-info-circle me-2"></i>
        <strong>Aditivos</strong> aumentam o valor disponível do empenho. 
        O saldo disponível será: <strong>Valor Original + Aditivos - Anulações - Valor Consumido</strong>
      </div>
    </div>
  </div>

  <%= render 'common_pages/save', f: f, return_path: commitment_path(@commitment) %>
<% end %>
