<!-- Modal -->
<div class="modal fade" id="show_vehicle_data_<%= order_service.id %>" tabindex="-1">

    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <!-- Cabeçalho -->
            <div class="modal-header">

                <!-- Título -->
                <h5 class="modal-title" id="show_vehicle_data_label_<%= order_service.id %>">
                    <small class="text-muted"><%= order_service.vehicle.board.upcase %></small>
                </h5>

                <!-- Botão fechar -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Conteúdo -->
            <div class="modal-body">
                <div class="card">
                    <% vehicle = order_service.vehicle %>
                    <div class="card-body">
                        <p class="card-text">
                            <%= Vehicle.human_attribute_name(:brand) %>: <%= vehicle.brand %>
                        </p>
                        <p class="card-text">
                            <%= Vehicle.human_attribute_name(:model) %>: <%= vehicle.model %>
                        </p>
                        <p class="card-text">
                            <%= Vehicle.human_attribute_name(:year) %>: <%= vehicle.year %>
                        </p>
                        <p class="card-text">
                            <%= Vehicle.human_attribute_name(:model_year) %>: <%= vehicle.model_year %>
                        </p>
                        <p class="card-text">
                            <%= Vehicle.human_attribute_name(:gearbox_type) %>: <%= vehicle.gearbox_type %>
                        </p>
                        <p class="card-text">
                            <%= Vehicle.human_attribute_name(:color) %>: <%= vehicle.color %>
                        </p>
                        <p class="card-text">
                            <%= Vehicle.human_attribute_name(:vehicle_type) %>: <%= vehicle.vehicle_type.nil? ? '' : vehicle.vehicle_type.name %>
                        </p>
                        <p class="card-text">
                            <%= Vehicle.human_attribute_name(:category) %>: <%= vehicle.category.nil? ? '' : vehicle.category.name %>
                        </p>
                        <p class="card-text">
                            <%= Vehicle.human_attribute_name(:fuel_type) %>: <%= vehicle.fuel_type.nil? ? '' : vehicle.fuel_type.name %>
                        </p>
                        <p class="card-text">
                            <%= Vehicle.human_attribute_name(:chassi) %>: <%= vehicle.chassi %>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>