<h3>Olá, <%= @user.name %></h3>
<p>
	A sua nova senha de acesso ao sistema <%= I18n.t('session.project') %> é:<br>
	<b><%= @new_password %></b>
	<br>
	Acesse o sistema clicando <%= link_to "aqui", login_url %> com seu email e com essa nova senha.
	<br>
	<small>Caso esteja com problema no link do "aqui", pode selecionar o link abaixo e colar no seu navegador:</small>
	<br>
	<%= login_url %>
</p>

<%= render "notification_mailer/default_footer" %>
