<div class="row">

  <!-- Título -->
  <div class="col-12">
    <h5 class="mt-4"><%= Phone.model_name.human(count: 2) %>:</h5>
  </div>

  <!-- Campos multiplos dinamicos -->
  <div class="col-12 multi-phone-block">

    <!-- Contador -->
    <input type="hidden" value="<%= f.object.phones.length.to_s %>" class="multi-phone-cont" disabled>

    <%= f.fields_for :phones do |phone| %>
    <div class="row multi-phone align-items-end">

      <%= render 'common_pages/phones/phone_field', f: f, phone: phone  %>

      <!-- Excluir -->
      <%= render 'common_pages/delete_multiple_relation', remove_path: delete_phone_path(model_id: phone.object.id), object: phone.object, object_text: 'phone'  %>
    </div>
    <% end %>

  </div>

  <!-- Botão de adicionar -->
  <div class="col-12">
    <%= render 'common_pages/add_multiple_relation', object_text: 'phone' %>
  </div>

</div>
<!-- Fim telefones cadastro múltiplo -->