<div class="modal fade" id="show-addendum-commitments-<%= commitment.id %>" tabindex="-1" role="dialog" aria-labelledby="show-addendum-commitments-label-<%= commitment.id %>" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="show-addendum-commitments-label-<%= commitment.id %>">
          <i class="bi bi-plus-circle me-2"></i>Aditivos do Empenho <%= commitment.commitment_number %>
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'commitments/show_addendum_commitments' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
