<div class="row">
    <!-- Título -->
    <div class="col-12">
        <h5 class="mt-4"><%= User.human_attribute_name(:general_data).upcase %></h5>
    </div>

    <!-- Razão social -->
    <div class="col-12 col-md-4 mb-3">
        <%= f.input :social_name %>
    </div>

    <!-- Nome fantasia -->
    <div class="col-12 col-md-4 mb-3">
        <%= f.input :fantasy_name %>
    </div>

    <!-- CNPJ -->
    <div class="col-12 col-md-4 mb-3">
        <%= f.input :cnpj, input_html: {class: 'cnpj', type: "tel"} %>
    </div>

    <!-- Inscrição municipal -->
    <div class="col-12 col-md-2 mb-3">
        <%= f.input :municipal_inscription %>
    </div>

    <!-- Inscrição estadual -->
    <div class="col-12 col-md-2 mb-3">
        <%= f.input :state_inscription %>
    </div>

    <!-- % de desconto -->
    <div class="col-12 col-md-2 mb-3">
        <%= f.input :discount_percent %>
    </div>

    <div class="col-12 col-md-3 mb-3 checkbox-input-center">
        <%= f.input :needs_km %>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4">
        <%= 
            render "common_pages/filter_registers_by_text_checkboxes",
            label_text: User.human_attribute_name(:states),
            register_name: "state",
            form_model: :user,
            form_attribute: :state_ids,
            collection: State.order(:name),
            value_register: :id,
            label_register: :name,
            placeholder: t("model.find_filter")
        %>
    </div>
</div>

<!-- Treinamento -->
<div class="row">
    <div class="col-12">
        <h5 class="mt-4"><i class="bi bi-mortarboard me-2"></i>TREINAMENTO</h5>
        <hr class="mt-0">
    </div>

    <div class="col-12 col-md-3 mb-3 checkbox-input-center">
        <%= f.input :training_completed, label: 'Treinamento Realizado' %>
    </div>

    <div class="col-12 col-md-3 mb-3 checkbox-input-center">
        <%= f.input :training_declined, label: 'Declinou do Treinamento' %>
    </div>

    <div class="col-12 col-md-3 mb-3 checkbox-input-center">
        <%= f.input :manual_enviado, label: 'Manual Enviado' %>
    </div>

    <% if f.object.manual_enviado_at.present? %>
    <div class="col-12 col-md-3 mb-3">
        <div class="form-group">
            <label class="form-label">Enviado em</label>
            <p class="form-control-plaintext"><%= f.object.manual_enviado_at.strftime('%d/%m/%Y %H:%M') %></p>
        </div>
    </div>
    <% end %>

    <div class="col-12 col-md-3 mb-3">
        <%= f.input :training_date, as: :string, label: 'Data do Treinamento',
            input_html: { class: 'datepicker', value: CustomHelper.get_text_date(f.object.training_date, 'date', :default), autocomplete: :off, type: "tel" } %>
    </div>

    <div class="col-12 col-md-3 mb-3">
        <%= f.input :training_location, label: 'Local do Treinamento', placeholder: 'Ex: Sede do cliente, Online...' %>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <%= f.input :training_participants, as: :text, label: 'Participantes',
            input_html: { rows: 3, placeholder: 'Nomes dos participantes, separados por vírgula ou em linhas' } %>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <%= f.input :training_notes, as: :text, label: 'Observações do Treinamento',
            input_html: { rows: 3, placeholder: 'Informações adicionais sobre o treinamento...' } %>
    </div>
</div>

<%
# End of file _personal_data.html.erb
# Path: ./app/views/users/forms/_personal_data.html.erb
%>
