<%
    custom_class_file_field = defined?(class_file_field) ? class_file_field : "col-md-4"
    custom_class_attachments = defined?(class_attachments) ? class_attachments : "col-md-2"
    custom_can_delete = defined?(can_delete) ? can_delete : true
    custom_disabled = defined?(disabled) ? disabled : false
%>
<div class="row">
    <div class="col-12">
        <h5 class="mt-4">
            <%= page_title.upcase %>
        </h5>
    </div>

    <div class="col-12 <%= custom_class_file_field %>">
        <%= f.input attribute, as: :file, disabled: custom_disabled, input_html: {multiple: 'multiple'}, label: false %>
    </div>
</div>

<div class="row">
    <%= f.fields_for :attachments, contents do |im| %>
        <div class="col-12 mt-4 <%= custom_class_attachments %>">
            <%
                if im.object.is_image?
                    begin
                        concat link_to image_tag(im.object.attachment.url, width: '50%'), im.object.attachment.url, target: "_blank"
                    rescue Exception => e
                        Rails.logger.error e.message
                    end
                else
                    begin
                        concat '<i class="bi bi-download me-2"></i>'.html_safe
                        concat link_to im.object.attachment.filename, im.object.attachment.url, target: "_blank", class: "text-decoration-none"
                    rescue Exception => e
                        Rails.logger.error e.message
                    end
                end
            %>
            <% if custom_can_delete %>
                <%= render 'common_pages/delete_multiple_relation', remove_path: delete_attachment_path(model_id: im.object.id), object: im.object, object_text: 'attachment', custom_class: "mt-1 text-start" %>
            <% end %>
        </div>
    <% end %>   
</div>