<%= simple_form_for(@commitment) do |f| %>
    <%= f.input :skip_validations, as: :hidden, input_html: {value: true} %>
    <div class="row">
        <div class="col-12">
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        </div>
    </div>

    <div class="row">
        <%= render 'users/renders/client_selection', f: f %>
        
        <div class="col-12 col-md-3">
            <% 
              # Obtém os centros de custo disponíveis filtrados pelo cliente
              available_cost_centers = CostCenter.getting_by_client_id(@current_user, f.object.client_id)
            %>
            <%= f.input :cost_center_ids, 
                collection: available_cost_centers, 
                label_method: :get_text_name, 
                value_method: :id,
                input_html: { multiple: true, class: 'select2', data: { placeholder: t('model.select_option') } },
                label: CostCenter.model_name.human(count: 2),
                include_blank: false %>
        </div>
    </div>

    <%= render 'common_pages/save', f: f, return_path: commitments_path %>

<% end %>
