<%= simple_form_for(@commitment) do |f| %>
    <%= render 'commitments/form', f: f, disabled: true %>
<% end %>

<%= simple_form_for @commitment, url: save_cancel_commitment_commitment_path(@commitment), method: :post do |f| %>
    <div class="row">
        <div class="col-12">
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        </div>
    </div>
    <%= render 'commitments/forms/form_cancel_commitments', f: f %>
    <%= render 'common_pages/save', f: f, return_path: commitments_path %>
<% end %>
